{% extends 'layout.html' %}

{% block body %}
  <div class="text-white">
	<h1 style="font-family: Georgia, serif;">Enter Details of equipment</h1>
  <div class="font-italic">
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.name, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.count, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
</div>
</div>
{% endblock %}