{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron" style="background-color:#F0F8FF;">
	<h1 style="font-variant: small-caps;">Login</h1>
	<form action="" method="POST">
		<div class="form-group">
			<label style="font-size: 20px;" class="font-italic">Username</label>
			<input type="text" name="username" class = "form-control" value="{{request.form.username}}">
		</div>
		<div class="form-group">
			<label style="font-size: 20px;" class="font-italic">Password</label>
			<input type="password" name="password" class = "form-control" value="{{request.form.password}}">
		</div>
		<button type="submit" class="btn btn-primary">Login</button>
	</form> 
	</div>
{% endblock %}