{% extends 'layout.html' %}

{% block body %}
<span class="text-white" style="font-size: 20px">
	<h1 style="font-family: Georgia, serif;">Update Password</h1>
	<div class="font-italic">
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.old_password, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.new_password, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.confirm, class_="form-control")}}
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
  </form>
  </div>
  </span>
{% endblock %}