{% extends 'layout.html' %}

{% block body %}
<br>
<br>
<br>
<div class="container jumbotron text-center">
	<h1><strong>Welcome to Gym Management System</strong></h1>
	<p class="font-italic">The Gym Management System is to automate everything that happens
in the gym. It is to aid and simplify the job all those who work for the gym, who train
in the gym and who owns the gym. The database consists of daily goals and stats of
achievements/progress of a member who trains in the gym, contact details and
personal info of everyone, training programs that the gym offers, equipment etc.</p>
</div>
{% endblock %}