{% extends 'layout.html' %}

{% block body %}
	<div class="container" >
		<div class="text-white">
		<h1 style><small> {{user}}</small></h1>
	</div>
		<div class="jumbotron" style="background-color: #f2deee ">
		<h2 class = "text-center">{{plan}}</h2>

		<div class="row text-center">
		{% for exercise in scheme %}

		<div class="col-sm-4 text">
		
		<h4>{{exercise['exercise']}}</h4>
		<p>sets --&nbsp;&nbsp;{{exercise['sets']}}</p>
		<p>reps --&nbsp;&nbsp;{{exercise['reps']}}</p>

		</div>
		
		{% endfor %}
		</div>
		
		</div>
		<table style="width:100%; font-size: 20px;" class="text-white table-hover table-bordered table-dark table-striped">
  <tr>
    <th class="text-center " height="50"><strong>DATE</strong></th>
    <th class="text-center " height="50"><strong>REPORT</strong></th> 
    <th class="text-center " height="50"><strong>RESULT</strong></th> 
  </tr>
		{% for each in progress %}
		<tr>
		<td class="text-center" height="50">{{each['date']}}</td>
		<td class="text-center" height="50">{{each['daily_result']}}</td>
		{% if each['rate']==1 %}
		<td class="text-center" style="color:green;" height="50">good</td>
		{% endif %}
		{% if each['rate']==2 %}
		<td class="text-center" style="color: yellow;" height="50">average</td>
		{% endif %}
		{% if each['rate']==3 %}
		<td class="text-center" style="color: red;" height="50">poor</td>
		{% endif %}
	</tr>
		{% endfor %}
	</table>
	<br>
	<br>
	<div class="jumbotron" style="background-color: #efd7b6; ">
	<h1>Performance Bar</h1>
	<br>
	  <div class="progress", style="height:30px">
  <div class="progress-bar bg-success  progress-bar-striped progress-bar-animated text-dark font-weight-bold font-italic" style="width:{{good}}%; height:30px" >
    Good {{good}}%
  </div>
  <div class="progress-bar bg-warning  progress-bar-striped progress-bar-animated text-dark font-weight-bold font-italic" style="width:{{average}}%; height:30px">
    Average {{average}}%
  </div>
  <div class="progress-bar bg-danger  progress-bar-striped progress-bar-animated text-dark font-weight-bold font-italic " style="width:{{poor}}%; height:30px">
    Poor {{poor}}%
  </div>
</div> 
</div>
	</div> 
{% endblock %}