{% extends 'layout.html' %}

{% block body %}
	<div class="container">
		<h1><small class="text-white">Welcome</small><span class="font-italic font-weight-bold text-danger"> {{session.username}}</span></h1>
    <div class="jumbotron" style="background-color: #94bfac;">
		<h1 style="font-variant: small-caps;">Equipment</h1>
    <div class="jumbotron" style="background-color: white;">
		{% for each in equips %}
			<p style="font-size: 20px " class="font-italic">{{each['name']}}&nbsp;&nbsp;<strong>x{{each['count']}}</strong></p>
		{% endfor %}
    </div>
    </div>


    <div class="jumbotron" style="background-color: #f5e7a1;">
    <h1 style="font-variant: small-caps;">Evaluation</h1>
    <div style="font-size: 20px" class="font-italic">
	{% from "includes/_formhelpers.html" import render_field %}
  	<form method="POST" action="">
    <div class="form-group" >
      {{render_field(form.name, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.date, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.report, class_="form-control")}}
    </div>
    <div class="form-group" >
      {{render_field(form.rate, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
  </div>
  </div>
  <br>
  <br>


  <div class="jumbotron" style="background-color: #8fc693;">
  <h1 style="font-variant: small-caps;">Members that train under you</h1>
  <br>
  {% for each in members %}
    <a href="{{url_for('memberDash', username = each['username'])}}"><button type="button" class="btn btn-outline-dark">{{each['username']}}</button></a>
    <br>
    <br>
  {% endfor %}
  </div>


  <div class="jumbotron" style="background-color: #fbded6">
  <div class="form-group">
      <a href = "{{url_for('updatePlans')}}"><button type ="button" class="btn btn-secondary btn-lg" >Update Plans</button></a>
    </div>
  </div>
  </div>
{% endblock %}